@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,700&display=swap");

body {
  background-color: #150067;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
::-webkit-scrollbar {
  display: none;
}
.card {
  background-color: #050031;
  border-radius: 10px;
  padding: 20px;
  width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  font-family: "Open Sans";
  transform: scale(0.85);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 700;
  padding-left: 1rem;
}

p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 500;
  padding-left: 1rem;
}
button {
  cursor: pointer;
}
.btn {
  background-color: #440092;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  font-size: 16px;
  width: 97%;
  text-align: start;
  transition: all 0.4s ease;
}

.btn:hover:not([disabled]) {
  background-color: #b326a5;
}

.btn:disabled {
  cursor: no-drop;
}

.buttons-ass {
  display: flex;
  flex-direction: row-reverse;
}

#next-btn,
#try-btn,
#show-btn {
  display: block;
  padding: 10px 30px;
  background-color: #ff8c00;
  color: white;
  border: 0;
  border-radius: 4px;
  margin: 10px;
}

.correct {
  background: #62ff68;
}
.incorrect {
  background: #a92a2a;
}

#surrender-btn {
  display: block;
  padding: 10px 19px;
  background-color: #ff0000;
  color: white;
  border: 0;
  border-radius: 4px;
  margin: 10px;
}

@media screen and (max-width: 460px) {
  .card {
    width: 90%;
    height: auto;
    margin: 50% auto;
    padding: 10px;
  }
  h2 {
    font-size: 18px;
    padding: 0 10px;
  }
  p {
    font-size: 14px;
    padding: 0 10px;
  }

  .btn {
    font-size: 13px;
    margin: 0.4rem 10px;
    width: 93%;
    padding: 9px 17px;
  }
  #surrender-btn {
    padding: 7px 12px;
  }
  #next-btn,
  #try-btn,
  #show-btn {
    padding: 7px 22px;
    margin: 10px 5px;
  }
}
